
h3{
    font-size: 20px;
    font-family:Verdana;
    color: #515151;
}
img {
     width: 100%;
	}
	    
.carousel-inner {
      background-color: #C1E0FF;
}
    
.carousel-caption {
      font-size: 2em;
      right: 10%;
      left: 60%;
      top: 30%;
      bottom: 30%;
      text-align: left;
      text-shadow: none;
     }
.carousel-indicators{
      font-size: 2em;
      bottom: -1%;
      text-align: left;
      text-shadow: none;
        }
.btn {
  background:#ffad24;
  color:white;
}
/***
 * Bootstrap relies on CSS transitions for animation, which makes it
 * easy to override.  Just add the vertical class to your carousel:
 * <div class='carousel vertical'>...</div>
 ***/
.carousel-caption {
font-family:Gill Sans;
  color:#b2b4b1;
}
.back{
  background-image: url("https://photos.smugmug.com/JCS-Athletics/Vfootball/2019-Football/2019-JCS-vs-NCS/i-fDrMFCr/0/f480286d/XL/_MG_5199-XL.jpg");
  height:40%;
  
}
nav a:link {
  color: white;
  padding-left:40px;
  font-family:Gill Sans;
  font-size: 20px;
}
.carousel.vertical .carousel-inner {
  height: 100%;
}
.carousel.vertical .item {
  -webkit-transition:  ease-in-out top;
  -moz-transition:     ease-in-out top;
  -ms-transition:      ease-in-out top;
  -o-transition:       ease-in-out top;
  left:               0;
}
.carousel.vertical .active,
.carousel.vertical .next.left,
.carousel.vertical .prev.right    { top:     0; }
.carousel.vertical .next,
.carousel.vertical .active.right  { top:  100%; }
.carousel.vertical .prev,
.carousel.vertical .active.left   { top: -100%; }        
